<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noção básica título
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>
    Texto corpo, bagulho novo, mais um pouco, alem do mais um pouco
  </h1>
  <ion-text color="medium">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam cumque hic corrupti temporibus, soluta, animi molestiae nesciunt magni nam, aspernatur magnam quidem. Facere, ipsam. Magni a similique quidem rem modi?
    </p>
  </ion-text>
  
  <img width="200px" src="https://image.flaticon.com/icons/png/512/60/60944.png" alt="">
</ion-content>
